.button-container {
   margin-top: -20px;
   margin-left: 50px;
  }
  
  .download-button {
    transition: background-color 0.3s, transform 0.3s;
    color: white;
  }
  
  .download-button.downloading {
    background-color: #46b84a; /* Change to your desired color */
    transform: scale(0.8);
    color: white;
  }
  
  .police-button-container{
    margin-top: -20px;
   margin-left: 50px;
  }